<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>SUPER HEROES FINDER</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>

    <div id="navbar">
        <img class="logo" src="logo.png" alt="logo">
        <form action="/" method="post">
            <input type="search" name="Superhero" required placeholder="Search..">
            <button value="submit" >🔍</button>
        </form>
    </div>
    
