html{
    margin: 0px 0px;
    padding: 0px 0px;
}

body{
    padding: 0px 0px;
    margin: 0px 0px;
    color: black;
    background-color: #fff6e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-content: center;
    height: 100vh;
}
*{
    font-family: 'Work Sans', sans-serif;
}

h1{
    margin-top: 5px;
    font-size: clamp(20px, 7vw, 50px);
    margin-bottom: 0px;
}
h2{
    margin: 3px;
    font-size: clamp(18px, 4vw, 30px);}
h3{
    margin-top: 3px;
    font-size: clamp(15px, 5vw, 30px);
    margin-bottom: 4px;
}
h4{
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: clamp(15px, 5vw, 30px);
}
p{
    margin: 0px 0px;
    font-size: clamp(7px, 3vw, 15px);
}

#navbar{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px;
   

}
#navbar img{
    width: clamp(80px, 25vw, 150px);
    
}
#navbar form{
    display: flex;
    align-items: center;
    height: 55%;
    width: clamp(150px, 30vw, 200px);
    justify-content: end;
    margin-right: 5%;
}
input[type="search"]{
   height: 25px;
   width: 70%;
    outline: none;
    border: none;
    background: transparent;
    margin: 0;
    font-size: 14px;
    color: inherit;
    border-bottom: 2px solid black;
    border-radius: inherit;
    
}
input[type="search"]::placeholder {
    color: #000000;
    opacity: 1;
  }
#navbar button{
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
   
}
#navbar button:hover{
    opacity: 1;
}


#container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: clamp(100px, 30vw, 200px);
    margin: 10px 20px;
    border: 3px solid;
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
    outline: none;
     color: #000000;
    background-color: white;
}


.card img{
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 7px;
}
.heading{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 70px;
    text-align: center;
}









/* hero page part */

#Herocard{
    margin-top: 30px;
    background-color: snow;
    border-radius: 20px;
    width: 90vw;
    max-width: 700px;
    border: 5px solid;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.namesec{
    padding: 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;

}
#names{
    padding: 10px 10px;
   
}
.profile{
    margin: 0px 0px;
   height: clamp(100px, 80vw, 300px);
  right: 0%;
}
.profile img{
    height: 100%;
    float: right;
  
}



/* power stats section */

.photosec{
    width: 100%;
    display: flex;
    margin: 10px ;
    margin-left: 20px;
}

.powersec{
    display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-right: 10px;
}

.bio{
    display: flex;
  flex-direction: column;
  gap: 5px;
}

.bar{
    display: grid;
    align-items: center;
    grid-template-columns: 40% 15% 45%;
    
}
.score{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 250px;
}



progress{
    width: 90%;
    margin-right: 5px;
    border: 2px solid black;
}
progress::-webkit-progress-bar {
    background-color: rgb(255, 255, 255);
 }
 progress::-webkit-progress-value {
    background-color: red;
 }



 footer{
  margin-top: auto ;
    font-weight: 900;

 }

 footer p{

    font-size: 15px;
 }
 a{text-decoration: none;
color: #373636;}
